@import "./src/styles/mixins/media";

.modalWrapper {

}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 16px;
    left: 0px;
    width: 126px;
    height: 32px;
    background: var(--bluelinks);
    border-radius: 0px 16px 16px 0px;
}

.categoryText {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: var(--black);
    display: flex;
    align-items: center;
    text-align: center;
}

.imageWrapper {

}

.image {
    width: 280px;
    height: 288px;
    object-fit: cover;
    
    @include tablet {
        width: 336px;
    }

    @include desktop {
        width: 286px;
    }
}

.title {

}

.infoWrapper {

}

.info {

}

.infoText {

}

.comments {

}

.commentsText {

}

.btnContact {
    
}



.btnAdd {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 28px;
    gap: 10px;
    margin: 0 auto;
    // position: absolute;
    width: 248px;
    height: 38px;
    // left: 16px;
    // top: 394px;

    border: 2px solid var(--bluelinksActive);
    border-radius: 40px;
    background: transparent;
    color: var(--bluelinksActive);
    //stroke: var(--bluelinksActive);
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);

    &:hover {
        border: none;
        background: var(--gradientBtn);
        color: var(--white);
      //stroke: var(--white);

    svg path {
        fill:var(--white)

    }
    }
}

//.buttonOnClickModal svg path {
//    stroke:inherit;
//
//    &:hover {
//        stroke:inherit;
//    }
//}