@import '../../../../styles/mixins/media.scss';
.thumb {
  width: 100px;
  height: 68px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include tablet {
    width: 124px;
    height: 88px;
  }

  @include desktop {
    width: 146px;
    height: 104px;
  }
}

.thumb > img {
  object-fit: cover;
}
