@import '../../../../styles/mixins/media.scss';
.li {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;

  cursor: pointer;

  color: var(--black);
  transition: color 250ms linear;

  @include tablet {
    font-size: 14px;
    line-height: calc(19 / 14);
  }

  @include desktop {
    font-size: 16px;
    line-height: calc(22 / 16);
  }

  // &:hover {
  //   color: var(--bluelinksActive);
  // }
}
