@import '../../../styles/index.scss'; 

.addPetContainer{
    margin-top: 16px;
    margin-right: 10px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.addPetInput {
    border-radius: 40px;
    height: 40px;
    border-color: var(--bluelinks);
    margin-top: 5px;
    margin-bottom: 10px;

    
    &__Label{
       margin-bottom: 10px;
    };

    &Text{
      border-radius: 20px;   
      border-color: var(--bluelinks);
      margin-top: 5px;
      margin-bottom: 10px;
    }

    &TextArea {
        border-radius: 20px;   
        border-color: var(--bluelinks);
        margin-top: 5px;
        margin-bottom: 10px;
        height: 92px !important;

    }

    &TextAreaBig {
        @media screen and (min-width: 768px) {
        border-radius: 20px;   
        border-color: var(--bluelinks);
        margin-top: 5px;
        margin-bottom: 10px;
        height: 182px !important;
        }
    }

};

.addPetSexBox {
    width: 100%;
    border: none;
    border-color: none;
    outline: none;
    display: flex;
    justify-content: flex-start;
    outline: white;
    padding-top: 8px;
    padding-bottom: 19px;
};

.addPetSex {
    border-width: 0px;
    margin: 0px;
    padding: 0px;
    margin-right: 16px;
  & span {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.sexCaption{
    font-size: 16px;
    margin-left: 14px;
    font-weight: 400px;
    background-color: transparent !important;
}

.addPetSexIcon {
  margin: 0px;
}

.addPetImgButton {
   width: 100%;
   height: 100%;
   border-radius: 20px;
   background-color: #CCE4FB;
   border: 0px;
   font-size: xx-large;

   @media screen and (min-width: 768px) {
    width: 100%;
    height: 100%;

   }
}

.addPetImgLabel {
   display: flex;
   flex-direction: row;
   align-items: center;
   margin-bottom: 24px;

   @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
   }
}

.addPetImgLabelBig{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 10px;
        & span {
            margin-right: 33px;
        }
    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        
        & span {
            margin-right: 33px;
        }
    }
}

:global(.ant-radio-button-wrapper)::before {
    background-color: transparent !important;
}

:global(.ant-radio-button-wrapper) {
    background-color: transparent !important;
}

.mainContainer {
    @media screen and (min-width: 768px) {
        display: flex;
        justify-content: space-around;
    }
}
.rightContainer {
    @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 60px;
    }
}
.leftContainer {
    @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 395px;
    padding: 0px;
    }
};


:global(.ant-upload ) {
    width: 112px !important;
    height: 112px !important;
    border-radius: 40px !important;
    border-color:  transparent !important;

    @media screen and (min-width: 768px) {
        width: 182px !important;
        height: 182px !important;
        border-radius: 40px !important;
    }
}

:global(.ant-upload-list-item) {

    width: 112px !important;
    height: 112px !important;
    border-radius: 20px !important;
    border-color:  transparent !important;



    @media screen and (min-width: 768px) {
        width: 182px !important;
        height: 182px !important;
        border-radius: 20px !important;
    }

}

:global(.ant-upload-list) {

    width: 112px !important;
    height: 112px !important;
    border-radius: 20px !important;
    border-color:  transparent !important;


    @media screen and (min-width: 768px) {
        width: 182px !important;
        height: 182px !important;
        border-radius: 20px !important;
    }

}

// .ant-upload-wrapper
// .ant-upload-picture-card-wrapper 
// .ant-upload-list
// .ant-upload-list-picture-card 
// .ant-upload-list-item-container

:glonal(.ant-upload-list-item-container ) {
    width: 182px !important;
    height: 182px !important;
    border-radius: 20px !important;
}

:glonal(.ant-upload-wrapper) {
    border-radius: 40px !important;
    display: inherit !important;
}
:glonal(.ant-upload-list-item-thumbnail) {
    border-radius: 40px !important;
}

:glonal(.ant-upload-list-item-done)::before {
    border-radius: 40px !important;
    overflow: hidden !important;
}

:glonal(.ant-upload-list-item)::before{
    border-radius: 40px !important;
    overflow: hidden !important;
}

:glonal(.ant-upload-list-item-thumbnail) {
    border-radius: 20px !important;
    overflow: hidden !important;
    & a{
        border-radius: 20px !important;
        overflow: hidden !important;
    }

    & img{
        border-radius: 20px !important;
        overflow: hidden !important;
    }
}

:glonal(.ant-upload-list-item .ant-upload-list-item-done)::before {
    border-radius: 20px !important;
    overflow: hidden !important;
    & a{
        border-radius: 20px !important;
        overflow: hidden !important;
    }
}

:glonal(.ant-upload-list-picture-card) {
    border-radius: 20px !important;
    overflow: hidden !important;
    & a{
        border-radius: 20px !important;
        overflow: hidden !important;
    }
}

:glonal(.ant-upload-list) {
    border-radius: 20px !important;
    overflow: hidden !important;
    & a{
        border-radius: 20px !important;
        overflow: hidden !important;
    }
}

:glonal(.ant-upload-list-item-done) {
    border-radius: 20px !important;
    overflow: hidden !important;
    & a{
        border-radius: 20px !important;
        overflow: hidden !important;
    }
}

:glonal(.ant-upload-list-item) {
    border-radius: 20px !important;
    overflow: hidden !important;

}

:glonal(.ant-upload-list-item-image) {
    border-radius: 20px !important;
    overflow: hidden !important;
}

// .thumaAntd {
//     width: 112px !important;
//     height: 112px !important;
//     padding: 0px;
//     border-radius: 40px !important;
//     border-color:  transparent !important;
//     overflow: hidden !important;

//     @media screen and (min-width: 768px) {
//         width: 182px !important;
//         height: 182px !important;
//         padding: 0px;
//         border-radius: 40px !important;
//         overflow: hidden !important;
//     }
// }
// :glonal(.ant-upload-list-item){
//     border-radius: 40px !important;
//     overflow: hidden !important;
// }

.errorSex { border: solid 1px red; 
  border-radius: 20px; 
  padding: 7px 
};

// .addPetImgUpload{
//     display: flex !important;
//     justify-content:center !important;
//     align-items: center !important;
//     padding: 0px !important;
//     margin: 0px !important;
//     border-radius: 40px !important;
//     overflow: hidden !important;
// }