.infoDesc {
  font-weight: 400;
}
.wrapper {
  position: relative;

  display: flex;
  flex-direction: column;

  border-radius: 8px;
}

.popup {
  position: absolute;
  top: 44px;
  left: 0;

  width: 130px;
  padding: 12px;

  background: #ffffff;

  border: 1px solid #54adff;

  box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
  border-radius: 8px;
  z-index: 10;
}

.popupItem {
  display: flex;
  align-items: center;
  column-gap: 12px;

  &:not(:last-child) {
    margin-bottom: 4px;
  }
}

.popupDay {
  display: block;
  width: 19px;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);
  margin-bottom: 4px;
}

.timePopup {
  display: block;
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);

  color: #111111;
}

.closed {
  color: red;
}

.wrapperHover:hover {
  color: var(--bluelinksActive);
}
