@import './src/styles/mixins/media';

.addButton {
  display: flex;
  gap: 4px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80px;
  min-width: 80px;
  background: var(--bluelinksActive);
  border-radius: 50%;

  &:hover {
    background: var(--gradientBtn);
  }

  @include tabletAndDesktop {
    gap: 8px;
    flex-direction: row;
    border-radius: 40px;
    min-height: 40px;
    min-width: 129px;
  }

  .text {
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: var(--white);

    @include tabletAndDesktop {
      font-weight: 700;
      font-size: 16px;
      line-height: 22px;
    }
  }
  svg {
    @include tabletAndDesktop {
      order: 2;
    }
  }

  svg path {
    stroke: var(--white);
  }

  @include tabletAndDesktop {
  }
}

.modal {
  display: flex;
  flex-direction: column;
  padding: 20px;

  @media screen and (min-width: 768px) {
    padding: 60px 85px;
  }

  @media screen and (min-width: 1280px) {
    padding: 100px 155px;
  }
}

.user_modal_text {
  font-style: normal;
  font-weight: 550;
  font-size: 20px;
  line-height: 49px;
  letter-spacing: 0.04em;

  color: #111111;

  @media screen and (min-width: 768px) {
    font-size: 30px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 36px;
  }
}

.modalBtns {
  display: flex;
  flex-direction: column;
  gap: 17px;
  align-items: center;
  margin-top: 40px;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    margin-top: 48px;
    justify-content: center;
  }
}

.modalBtn_login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  gap: 12px;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.04em;

  color: #fef9f9;

  width: 140px;
  height: 40px;

  background: #ffc107;

  border: 2px solid #ffc107;
  border-radius: 40px;

  @media screen and (min-width: 768px) {
    width: 165px;
    height: 40px;
    gap: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
  }
}

.modalBtn_register {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;

  width: 140px;
  height: 40px;

  border: 2px solid #ffc107;
  border-radius: 40px;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.04em;

  color: #ffc107;
  background: transparent;

  @media screen and (min-width: 768px) {
    width: 165px;
    height: 40px;
    gap: 8px;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
  }
}

.user_modal {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    padding: 60px 85px;
  }

  @media screen and (min-width: 1280px) {
    padding: 100px 155px;
  }
}
