@import "./src/styles/mixins/media";

svg {
    path {
        stroke: var(--bluelinksActive);
    }

    &:hover {
        stroke:  var(--white);
    }
}

.item {
    position: relative;
    width: 280px;
    height: 456px;
    background: var(--white);
    box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
    border-radius: 0px 0px 40px 40px;

    // @include tablet {
    //     display: none;
    // }

    @include tablet {
        
    }

    @include tabletAndDesktop {


    }

    @include desktop {
    
    }
}

.category {
    position: absolute;
    top: 16px;
    left: 0px;
    width: 126px;
    height: 32px;
    background: var(--bluelinks);
    border-radius: 0px 16px 16px 0px;
}

.categoryText {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: var(--black);
}

.buttonOnClick {
    position: absolute;
    top: 12px;
    right: 12px;
    width: 40px;
    height: 40px;
    background: var(--bluelinks);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.buttonOnClick svg {
    path {
        stroke: var(--bluelinksActive);
    }

    &:hover {
        fill: var(--bluelinksActive);
    }
}

.image {
    width: 280px;
    height: 288px;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 4px;
    gap: 4px;
    
    // position: absolute;
    width: 80px;
    height: 28px;
    // left: 8px;
    // top: 248px;
    
    background: var(--bluelinks);
    border-radius: 16px;

    &:hover {
        color: var(--bluelinksActive);
    }
}

.infoText {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: var(--black);

    &:hover {
        color: var(--white);
    }
} 

.title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: var(--black);
}

.buttonOnClickModal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 28px;
    gap: 10px;
    
    // position: absolute;
    width: 248px;
    height: 38px;
    // left: 16px;
    // top: 394px;
    
    border: 2px solid var(--bluelinksActive);
    border-radius: 40px;
    background: transparent;

    &:hover {
        background: var(--gradientBtn);
    }
}

.buttonText {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;

    display: flex;
    align-items: center;
    letter-spacing: 0.04em;

    color: var(--bluelinksActive);

    &:hover {
        color: var(--white);
    }
}

