@import '../../../styles/index.scss'; 

.buttonset{
  list-style: none;
  margin-top: 20px;
  margin-bottom: 95px;

  @media screen and (min-width: 768px){
     margin-top: 40px;
     margin-bottom: 137px;
  }
};

.buttonsetItem{
  margin-bottom: 12px;
};

.buttonItem {
border-radius: 40px;
background-color: #CCE4FB;
border: none;
&span {
    color: var(--grblue);
};

&:hover{
    background: linear-gradient(290.46deg, #419EF1 0%, #9BD0FF 107.89%);
};

&:hover span{
    color: var(--background); 
};

&Active {
    background: var(--grblue);
    & span{
      color: var(--background); 
    }
}
};