.user_page {
  display: flex;
  justify-content: center;
}

.user_page_item {
  display: flex;
  flex-direction: column;
}

.user_form_title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.35;
  margin-bottom: 18px;
  color: #000000;

  @media screen and (min-width: 768px) {
    font-size: 28px;
    margin-bottom: 24px;
  }
}

.user_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  height: 517px;
  margin-left: auto;
  margin-right: auto;

  padding: 20px 8px 4px 8px;
  background-color: #ffffff;
  box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
  border-radius: 20px;

  @media screen and (min-width: 768px) {
    width: 704px;
    height: 268px;
    flex-direction: row-reverse;
    padding: 20px 76px 20px 20px;
    gap: 71px;
    border-radius: 40px;
  }

  @media screen and (min-width: 1280px) {
    width: 395px;
    height: 520px;
    flex-direction: column;
    padding: 20px 24px 20px 16px;
    border-radius: 40px;

    gap: 0;
  }
}

.user_input_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user_input {
  width: 182px;
  height: 182px;
  margin-bottom: 14px;
  border-radius: 40px;
  overflow: hidden;
}

.user_img {
  width: 182px;
  height: 182px;
  object-fit: cover;
}

.user_inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.user_label {
  display: flex;
  gap: 11px;
  margin-bottom: 22px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.83;

  cursor: pointer;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: inherit;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.83;
  gap: 11px;
  width: 94px;
  padding: 0;
  background-color: transparent;
  border: none;
  margin-bottom: 22px;
  cursor: pointer;
}

.input_container {
  width: 100%;
}

.input_wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 21px;

  @media screen and (min-width: 768px) {
    margin-bottom: 13px;
  }
}

.logoutBtn {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 21px;
  border: none;
  background: transparent;
  text-decoration: none;
  cursor: pointer;
  color: #888888;

  @media screen and (min-width: 768px) {
    margin-top: 13px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 21px;
  }
}

.user_modal {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    padding: 60px 85px;
  }

  @media screen and (min-width: 1280px) {
    padding: 100px 155px;
  }
}

.user_modal_text {
  font-style: normal;
  font-weight: 550;
  font-size: 20px;
  line-height: 49px;
  letter-spacing: 0.04em;

  color: #111111;

  @media screen and (min-width: 768px) {
    font-size: 30px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 36px;
  }
}

.user_modalBtn {
  display: flex;
  gap: 17px;
  margin-top: 48px;
}

.user_modalBtn_cancel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 109px;
  height: 30px;
  border: 2px solid #54adff;
  background-color: transparent;
  border-radius: 40px;

  font-style: normal;
  font-weight: 550;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  cursor: pointer;

  color: #54adff;

  @media screen and (min-width: 768px) {
    padding: 8px 20px;
    width: 129px;
    height: 40px;
  }
}

.user_modalBtn_logout {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 109px;
  height: 30px;
  background: #54adff;
  border-radius: 40px;
  border: none;
  gap: 8px;
  cursor: pointer;

  font-style: normal;
  font-weight: 550;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.04em;
  color: #fef9f9;

  @media screen and (min-width: 768px) {
    padding: 8px 20px;
    width: 129px;
    height: 40px;
  }
}

.user_modal {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    padding: 60px 85px;
  }

  @media screen and (min-width: 1280px) {
    padding: 100px 155px;
  }
}

.user_modal_redirect {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  padding-bottom: 44px;

  @media screen and (min-width: 768px) {
    padding: 60px 129px;
  }

  @media screen and (min-width: 1280px) {
    padding: 60px 129px;
  }
}

.user_modal_redirect_text {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.04em;

  color: #111111;

  @media screen and (min-width: 768px) {
    font-size: 36px;
    line-height: 49px;
  }
}

.user_modal_redirect_p {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.04em;

  margin-top: 52px;

  color: #111111;

  @media screen and (min-width: 768px) {
    font-size: 24px;
    line-height: 33px;
  }
}

.user_redirect_modalBtn {
  display: flex;
  justify-content: center;
  gap: 17px;
  margin-top: 48px;
}

.user_redirect_modalBtn_goto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 28px;
  gap: 12px;
  width: 248px;
  height: 40px;

  background: #54adff;
  border-radius: 40px;
  border: none;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.04em;
  cursor: pointer;

  color: #fef9f9;

  @media screen and (min-width: 768px) {
    padding: 8px 20px;
  }
}
