@import '../../../styles/mixins/media.scss';

.friendList {
  display: flex;
  flex-direction: column;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }

  @include desktop {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }
}

.item {
  background: #ffffff;
  box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
  border-radius: 40px;
  padding: 16px;

  &:not(:last-child) {
    @media screen and (max-width: 767px) {
      margin-bottom: 20px;
    }
  }

  @include tablet {
    flex-basis: calc((100% - 32px) / 2);
  }

  @media screen and (min-width: 1280px) {
    flex-basis: calc((100% - 64px) / 3);
  }
}
.content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  column-gap: 12px;
}
