.filterButton {
  padding: 8px 38px;
  width: initial;
  height: initial;

  &.isActive {
    background: var(--bluelinksActive);
    span {
      color: var(--white);
    }

  }
}

.dropdown {
  padding: 8px;
  background: var(--white);
  box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
  border-radius: 20px;
}


.filterTitle {
  display: inline-block;
  margin: 0 0 8px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: var(--bluelinksActive);
}

.filterWrapper {

  .title:not(:last-child) {
    margin: 0 0 8px 0;
  }

  .title {
    max-width: 136px;
    min-height: 32px;

    border: none;
    border-radius: 20px !important;
    background: var(--bluelinks);

    span {
      font-weight: 400;
      font-size: 14px;
      line-height: 130%;
      color: var(--bluelinksActive) !important;

    }
  }

  .chevronIcon {

    &.active {
      rotate: (180deg);
    }
  }

  .checkbox {
    flex-direction: column;
    gap: 8px;

    label {
      margin-inline-start: initial;
    }

    :global(.ant-checkbox-checked .ant-checkbox-inner) {
      background: var(--bluelinks);
      width: 16px;
      height: 16px;

      //span::after{
      //  border: 2px solid red;
      //}
    }

    :global(.ant-checkbox .ant-checkbox-inner:after) {
      border-color: var(--bluelinksActive);
      border-top: 0;
    }

    :global(:where(.css-dev-only-do-not-override-ed5zg0).ant-checkbox-wrapper:not(.ant-checkbox-wrapper-disabled):hover .ant-checkbox-checked:not(.ant-checkbox-disabled) .ant-checkbox-inner ) {
      background: var(--bluelinks);
    }

  }

}


