@import "../../../styles/mixins/media";

.modalWrapper {
  width: 280px;
  height: 786px;

  @include tabletAndDesktop {
    width: 681px;
    height: 540px;

  }

  @include tabletAndDesktop {
    

  }
}

.aboutBox {
  @include tablet {
    // display: flex;
    // row-gap: 24px;
  }
}

.imageBox {
  position: relative;
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 16px;
    left: 0px;
    width: 126px;
    height: 32px;
    background: var(--bluelinks);
    border-radius: 0px 16px 16px 0px;
}

.categoryText {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: var(--black);
    display: flex;
    align-items: center;
    text-align: center;
}

.imageWrapper {
    margin-bottom: 12px;
    overflow: hidden;
    
}

.image {
    width: 240px;
    height: 240px;
    object-fit: cover;
    border-radius: 0px 0px 40px 40px;

    @include tablet {
      width: 262px;
      height: 298px;
      
    }

    @include desktop {
        width: 286px;
    }
}

.aboutWrapper {
  @include tablet {
    // display: flex;
    
    
  }
  
}


.titleBox {
  // flex-direction: column;
  // justify-content: flex-start;
  height: 66px;
  // padding-left: 12px;
  padding-right: 70px;
  margin-bottom: 20px;
  margin-right: auto;
  // &__description {    margin-bottom: 20px;
  //     max-height: calc(1em * 1.4 * 3);    overflow: hidden;
  // }
  @include tablet {
    height: 76px;
  }
}

.title {
    // padding-left: 12px;
    // padding-right: 70px;
    // margin-bottom: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.01em;
    color: var(--black);
}

.infoWrapper {
  display: flex;
  column-gap: 25px;
  margin-bottom: 20px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  // justify-content: flex-start;

}

.infoText {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  @include tabletAndDesktop {
    font-size: 16px;
    line-height: 22px;

  }
}

.infoContent {
  font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  @include tabletAndDesktop {
    font-size: 16px;
    line-height: 22px;
  }
}

.infoContentLink {
  text-decoration-line: underline;
  color: var(--yellow);
}

.comments {
    height: 95px;
    margin-bottom: 12px;
    color: var(--black);
    display: flex;
    justify-content: flex-start;

    @include tabletAndDesktop {
      height: 48px;
      // margin-bottom: 70px;

    }
}

.commentsText {
    // font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;

    @include tabletAndDesktop {
      font-size: 16px;
      line-height: 24px;
    }
}

.btnWrapper {

  @include tabletAndDesktop {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    // row-gap: 17px;
    // margin-left: auto;
    // margin-right: 0px;
  }
  
}

.btnContact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    // gap: 8px;
    // margin: 0 auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    width: 256px;
    height: 40px;

    border: 2px solid var(--bluelinksActive);
    border-radius: 40px;
    background: transparent;
    color: var(--bluelinksActive);
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);

    @include tabletAndDesktop {
      width: 129px;
      height: 40px;
      margin-left: auto;
    }

    &:hover {
        border: none;
        background: var(--gradientBtn);
        color: var(--white);

    }
}

.btnAdd {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    gap: 8px;
    margin: 0 auto;
    // position: absolute;
    width: 256px;
    height: 40px;
    // left: 16px;
    // top: 394px;
    border: none;
    border-radius: 40px;
    background:  var(--bluelinksActive);
    color: var(--white);
    stroke: var(--white);
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);

    @include tabletAndDesktop {
      width: 129px;
      height: 40px;
      // margin-right: 17px;
      
    }

    &:hover {
      background: var(--gradientBtn);
    }
}

.btnAdd  svg path {
  stroke:inherit;
}
