@import "../../../styles/mixins/media";

.modalWrapper {
  width: 280px;
  // height: 786px;
  max-height: 80vh;
  overflow-y: auto;

  @include tabletAndDesktop {
    width: 681px;
    // height: 540px;
  }

  @include tabletAndDesktop {


  }
}

.aboutWrapper {
  @include tabletAndDesktop {
    display: flex;
    gap: 24px;

  }
}

.aboutBox {
  @include tablet {
    // min-width: 220px;
    // min-height: 200px;
  }
}

.imageBox {
  position: relative;
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 16px;
    left: 0;
    width: 126px;
    height: 32px;
    background: var(--bluelinks);
    border-radius: 0 16px 16px 0;
}

.categoryText {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: var(--black);
    display: flex;
    align-items: center;
    text-align: center;
}

.imageWrapper {
    margin-bottom: 12px;
    overflow: hidden;

}

.image {
    width: 100%;
    min-height: 240px;
    object-fit: cover;
    border-radius: 0 0 40px 40px;

    @include tablet {
      width: 262px;
      height: 298px;

    }

    @include desktop {
        width: 286px;
    }
}

.titleBox {
  text-align: start;
  height: 66px;
  padding-right: 70px;
  margin-bottom: 20px;
  margin-right: auto;
  // &__description {    margin-bottom: 20px;
  //     max-height: calc(1em * 1.4 * 3);    overflow: hidden;
  // }
  @include tablet {
    height: 76px;
  }
}

.title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.01em;
    color: var(--black);

    @include tabletAndDesktop {
      font-size: 28px;
      line-height: 38px;
      letter-spacing: -0.01em;
    }

}

.infoWrapper {
  display: flex;
  column-gap: 25px;
  margin-bottom: 12px;
  @include tabletAndDesktop {
    column-gap: 50px;
    margin-bottom: 20px;
  }

}

.info {
  display: flex;
  flex-direction: column;
  align-items: baseline;

}

.infoText {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  display: flex;
  align-items: center;
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  @include tabletAndDesktop {
    font-size: 16px;
    line-height: 22px;

  }
}

.infoContent {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 11px;
  }

  @include tabletAndDesktop {
    font-size: 16px;
    line-height: 22px;

    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }
}

.infoContentLink {
  // text-decoration-line: underline;
  color: var(--yellow);
  // margin-bottom: 11px;

  @include tabletAndDesktop {

    // &:not(:last-child) {
    //   margin-bottom: 8px;
    // }
  }

}

.comments {
  display: flex;
  justify-content: flex-start;
  text-align: start;
  height: 95px;
  // margin-top: 12px;
  margin-bottom: 12px;
  color: var(--black);

  @include tabletAndDesktop {
    height: 48px;
    // margin-top: 28px;
    margin-bottom: 70px;
  }
}

.commentsText {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: start;
    letter-spacing: 0.04em;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;

    @include tabletAndDesktop {
      font-size: 16px;
      line-height: 24px;
    }
}

.btnWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include tabletAndDesktop {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start;

  }

}

.btnContact {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    margin: 0 auto;
    width: 256px;
    height: 40px;
    text-decoration: none;
    border: 2px solid var(--bluelinksActive);
    border-radius: 40px;
    background: transparent;
    color: var(--bluelinksActive);
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    cursor: pointer;

    @include tabletAndDesktop {
      width: 129px;
      height: 40px;
      margin-left: 0;
      margin-right: 0;

    }

    &:hover {
        border: none;
        background: var(--gradientBtn);
        color: var(--white);

    }
}

:global(.addFavorite) {

  &.btnAdd {
    position: initial;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    gap: 8px;
    margin: 0 auto;
    width: 256px;
    height: 40px;
    border: none;
    border-radius: 40px;
    background:  var(--bluelinksActive);
    color: var(--white);
    stroke: var(--white);
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    cursor: pointer;

    @include tabletAndDesktop {
      width: 129px;
      height: 40px;
      margin-left: 0;
      margin-right: 0;
    }

    svg path {
      stroke: var(--white);
      //fill: var(--white);
    }

    &:hover {
      background: var(--gradientBtn);
    }
  }

}


//.btnAdd  svg path {
//  stroke:inherit;
//}

.btnContactLink {
  color: var(--bluelinksActive);
  text-decoration: none;
  &:hover {
    color: var(--white);
  }

}
