@import "./src/styles/mixins/media";


.header {
  height: 44px;
  padding:20px 20px 0 20px;
  width: 100%;
  background: var(--background);

  .btn {
    border: none;
    padding: 0;
    background: transparent;
    height: 24px;
    width: 24px;
    box-shadow:none;
  }


  .headerWrapper {
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   width: 100%;
    //padding: 20px 20px 0 20px;
    margin-left: auto;
    margin-right: auto;

    .navigationBlock {
      display: flex;
      align-items: center;
    }

    .logoWrapper {
      display: flex;


      .logo {
        width: 116px;
        height: 20px;
      }

    }
    .rightNavigationalBlock {
      display: flex;
      gap: 8px;
      align-items: center;

      .closeBtn {


          svg path {
            stroke: var(--yellow);
          }



      }


    }

    .userIconBtn {
      height: 28px;
      width: 28px;
      border: none;
      padding: 0;
    }

    .menuBtn {

    }
  }



  @include tablet {
    background: var(--green);
  }

  @include desktop {
    background: var(--red);
  }

}

