@import "./src/styles/mixins/media";


.header {
  height: initial;
  padding: 0;
  width: 100%;


  .headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 280px;
    padding: 20px 20px 0 20px;
    margin-left: auto;
    margin-right: auto;

    .navigationBlock {
      display: flex;
      align-items: center;
    }

    .logoWrapper {
      display: flex;


      .logo {
        width: 116px;
        height: 20px;
      }

    }
    .rightNavigationalBlock {
      display: flex;
      gap: 8px;
      align-items: center;
    }

    .userIconBtn {
      height: 28px;
      width: 28px;
      border: none;
      padding: 0;
    }

    .menuBtn {
      border: none;
      padding: 0;
      height: 24px;
      width: 24px;
      box-shadow:none;
    }
  }

  background: var(--color-button);

  @include tablet {
    background: var(--green);
  }

  @include desktop {
    background: var(--red);
  }

}

