@import "../../../styles/mixins/media";

.item {
    position: relative;
    width: 280px;
    height: 456px;
    // width: 100%;
    

    background: var(--white);
    box-shadow: 3px 8px 14px rgba(136, 198, 253, 0.19);
    border-radius: 0px 0px 40px 40px;
    &:not(:last-child) {
        margin-bottom: 24px;
    }

    &:hover {
        box-shadow: 7px 13px 14px rgba(116, 177, 232, 0.24);
    }

    @include tabletAndDesktop {
        width: 336px;
        margin-bottom: 0px;

    }

    @include desktop {
        width: 286px;
    }
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 16px;
    left: 0px;
    width: 126px;
    height: 32px;
    background: var(--bluelinks);
    border-radius: 0px 16px 16px 0px;
}

.categoryText {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: var(--black);
    display: flex;
    align-items: center;
    text-align: center;
}

.buttonOnClick {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 12px;
    right: 12px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: none;
    background: var(--bluelinks);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    &:hover {
        background: var(--bluelinks);
    }
}

.buttonOnClick svg {

    stroke: var(--bluelinksActive);

    &:hover {
        fill: var(--bluelinksActive);
    }
}

.buttonDeleteOnClick {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 68px;
    right: 12px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: none;
    background: var(--bluelinks);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    &:hover {
        background: var(--bluelinks);
    }
}

.buttonDeleteOnClick svg {

    stroke: var(--bluelinksActive);

    &:hover {
        fill: var(--bluelinksActive);
    }
}

.imageWrapper {
    margin-bottom: 20px;
}

.image {
    width: 280px;
    height: 288px;
    object-fit: cover;

    @include tablet {
        width: 336px;
    }

    @include desktop {
        width: 286px;
    }
}

.infoWrapper {
    position: absolute;
    top: 248px;
    left: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 12px;

    @include tablet {
        left: 24px;
        gap: 24px;
    }

    @include desktop {
        left: 12px;
        gap: 12px;
    }
}


.info {
    display: flex;
    // flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2px 4px;
    gap: 4px;

    // position: absolute;
    width: 80px;
    height: 28px;
    // left: 8px;
    // bottom: 12px;
    border-radius: 16px;
    background: var(--bluelinks);
    color: var(--black);
    stroke: var(--bluelinksActive);
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);

    &:hover {
        background: var(--bluelinksActive);
        color: var(--white);
        stroke:  var(--white);
    }
}

.info svg path {
    stroke:inherit;

    &:hover {
        stroke:inherit;
    }
}

.infoText {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color:inherit;

    &:hover {
        color:inherit;
    }
}

.titleBox {
    
}

.title {
    padding-left: 20px;
    padding-right: 28px;
    margin-bottom: 20px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color: var(--black);
}

.buttonOnClickModal {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 28px;
    gap: 10px;
    margin: 0 auto;
    // position: absolute;
    width: 248px;
    height: 38px;
    // left: 16px;
    // top: 394px;

    border: 2px solid var(--bluelinksActive);
    border-radius: 40px;
    background: transparent;
    color: var(--bluelinksActive);
    //stroke: var(--bluelinksActive);
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);

    &:hover {
        border: none;
        background: var(--gradientBtn);
        color: var(--white);
      //stroke: var(--white);

    svg path {
        fill:var(--white)

    }
    }
}

//.buttonOnClickModal svg path {
//    stroke:inherit;
//
//    &:hover {
//        stroke:inherit;
//    }
//}

.buttonText {
    //font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;

    display: flex;
    align-items: center;
    letter-spacing: 0.04em;

    color:inherit;

    &:hover {
        color:inherit;
    }
}

.addPetBtnWrapper {
    position: absolute;
    width: 80px;
    height: 80px;
    right: 0px;
    top: 149px;

    @include tabletAndDesktop {
        display: none;

    }
}
