@import "../../../styles/mixins/media";

.modalWrapper {
    width: 280px;
    height: 287px;

    @include tabletAndDesktop {
      width: 608px;
      height: 352px;
    }
}

.title {
  // font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;

  @include tabletAndDesktop {
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -0.01em;
  }
}

.text {
  // font-family: 'Manrope';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
    
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;

  @include tabletAndDesktop {
    
      letter-spacing: -0.01em;
  }
  
}

.textBold {
  font-weight: 700;
}

.btnWrapper {
    justify-content: center;
    margin-top: 20px;

  @include tabletAndDesktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0px;
    margin-top: 48px;

    // row-gap: 17px;
    // margin-left: auto;
    // margin-right: 0px;
  }
  
}

.btnCancel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  // gap: 8px;
  // margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  width: 256px;
  height: 40px;

  @include tabletAndDesktop {
    width: 129px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  // gap: 8px;

  }
  
}

.btnConfirm {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  // gap: 8px;
  // margin: 0 auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  width: 256px;
  height: 40px;
  stroke: var(--white);

  @include tabletAndDesktop {
    width: 129px;
  height: 40px;
  display: flex;

  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  // gap: 8px;
  
  }

  &:hover {

    background: var(--gradientBtn);
}
}

.btnConfirm  svg path {
  stroke:inherit;
}
