@import "../../../styles/mixins/media";

.modalWrapper {
    width: 280px;
    
    @include tabletAndDesktop {
      width: 608px;
      
    }
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 28px;
  margin-bottom: 40px;
  letter-spacing: 0.04em;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;

  @include tabletAndDesktop {
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: -0.01em;
  }
}

.text {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
    
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;

  @include tabletAndDesktop {
    letter-spacing: -0.01em;
  }
  
}

.textBold {
  font-weight: 700;
}

.btnWrapper {
    justify-content: center;
    margin-top: 48px;

  @include tabletAndDesktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 48px;
    margin-left: auto;
    margin-right: 0px;
    margin-bottom: 28px;
    gap: 17px;
  }
  
}

.btnCancel {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  width: 256px;
  height: 40px;

  @include tabletAndDesktop {
    width: 129px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;

  }
  
}

.btnConfirm {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  width: 256px;
  height: 40px;
  stroke: var(--white);

  @include tabletAndDesktop {
    width: 129px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 20px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }

  &:hover {
    background: var(--gradientBtn);
}
}

.btnConfirm  svg path {
  stroke:inherit;
}
