@import '../../styles/mixins/media.scss';

.sectionNews {
  padding-top: 40px;

  @include tablet {
    padding-top: 40px;
    padding-bottom: 109px;
  }

  @include desktop {
  }
}

.paginationWrapper {
  display: flex;
  justify-content: center;
  margin: 60px 0 0 0;
  padding-bottom: 60px;
}
