@import '../../styles/mixins/media.scss';

.section {
  padding: 40px 20px 0 20px;

  @include tabletAndDesktop {
    padding-top: 80px;
  }
}

.paginationWrapper {
  display: flex;
  justify-content: center;
  // margin: 60px 0 0 0;
  padding: 60px 0 109px;
}

.noResult {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
}
