@import "./src/styles/mixins/media";

.isHidden {
  display: none;
}

.noResult {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
}

.listWrapper {
  // position: sticky;
  // top: 0px;
  position: relative;
  // overflow: scroll;
  // margin: auto;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 24px;
    column-gap: 24px;

    @include tablet {
        margin-top: 40px;
    }

    @include tabletAndDesktop {
        row-gap: 32px;
        column-gap: 24px;
    }

    @include desktop {
        margin-top: 42px;
    }
}

.addPetBtnWrapper {
  position: fixed;
  display: inline-block;
  width: 80px;
  height: 80px;
  right: 20px;
  // top: 550px;
  bottom: 20px;
  // top: calc(100vh - 250px);
  // display: flex;
  // justify-content: flex-end;
  z-index: 1;
//  margin-right: 0px;
//  margin-left: auto;
// @media screen and (min-width: 321px) and (max-width: 380px) {
//   right: 50px;
//   // top: 550px;
//   }

  // @media screen and (min-width: 381px) and (max-width: 420px) {
  //   right: 54px;
  //   // top: 550px;
  //   }

  // @media screen and (min-width: 480px) {
  //   right: 10;
  //   // top: 550px;
  //   }

  // @media screen and (min-width: 768px) {
  //   display: none;
  //   }
  @include tabletAndDesktop {
      display: none;

  }
}

.paginationWrapper {
  display: flex;
  justify-content: center;
  margin:60px 0 0 0;
}

